[submodule "androidconnecteddatamodel/src/main/java/de/ku/sfl/connection"]
	path = androidconnecteddatamodel/src/main/java/de/ku/sfl/connection
	url = https://github.com/unterwegerK/sfl-connection.git
